body {
	background: linear-gradient(-45deg, #C9B29B, #C7D3D4, #9C6B3F);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 220vh;
    font-family: Tajawal, sans-serif;
    color: #4A2C24;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body::selection{
    background-color: #9c6a3f61;
}
.image1{
    width: 150px;
    position: absolute;
    z-index: 999999;
    position:fixed;
    top: 10px;
    left: 10px;  
}
.openOnBr button{
    padding: 2vh;
    border-radius: 10px;
    background-color: #c9b29b45;
    cursor: pointer;
    border: 1px solid #4A2C24;
    transition: 0.3s;
    font-size: 15px;
     z-index: 999999;
    position:fixed;
    top: 10px;
    right: 10px;
    color: #4A2C24;
}

.codeDiv{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20vh;
}
.codeLink button{
     padding: 2vh;
    border-radius: 10px;
    background-color: #c9b29b45;
    cursor: pointer;
    border: 1px solid #4A2C24;
    transition: 0.3s;
    font-size: 5vw;
    color: #4A2C24;
}
.title1{
    color: #4A2C24;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 700;
    min-height: 100vh;
}
.p1{
    font-size: 4.28vw;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    letter-spacing: -0.2vw;
    word-spacing: 8px; 
}
.aboutp1{
    font-size: 5vw;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    letter-spacing: -0.2vw;
    word-spacing: 8px;
}
.p2 , .p3 , .p4 {
    margin: 1vh;
    text-align: center;
}
.title1 a button{
    color: #4A2C24;
    font-weight: 700;
}
.title1 a{
    margin-top: 2vh;
}
.button1 button{
    padding: 3vh;
    border-radius: 10px;
    background-color: #c9b29b45;
    cursor: pointer;
    border: 1px solid #4A2C24;
    transition: 0.3s;
    font-size: 18px;
}
.button1 button:hover{
    transform: translateY(-7px);
}
.icon1{
    width: 100px;
    margin-top: 3vh;
}
.title2,.title3,.title4,.title5,.title6,.codeDiv{
     min-height: 100vh;
}
.title3,.title4{
    margin-left: 1vw;
}
.p5,.p6{
    font-size: 67px;
    font-size: 5vw;
    margin: 0%;
}
.button2 button{
    padding: 3vh;
    border-radius: 10px;
    background-color: #c9b29b45;
    cursor: pointer;
    border: 1px solid #4A2C24;
    transition: 0.3s;
    color: #4A2C24;
    font-weight: 10vw;
    font-size: 18px;
    margin-bottom: 0.5vh;
}
.button2 button:hover{
    transform: translateY(-7px);
}
.title2{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5vw;
}
.title2 div .img4{
    width: 47vw;
    border-radius: 30px;
    border: 5px solid #C9B29B;
    flex-shrink: 0;
}
.title2 div .img2,.title2 div .img3,.title2 div .img1{
    width: 13.5vw;
    border-radius: 30px;
    border: 5px solid #C9B29B;
}
.images1{
     position: relative;
     width: 33vw;
     justify-content:center ;
}
.images1 img{
   position: absolute;
}
.img1{
   margin-top: 0px;
   margin-left: 0px;
}
.img2{
  margin-top: 2vw;
  margin-left: 10vw;
  z-index: 2;
}
.img3{
     margin-left: 20vw;
}
.images2{
    flex-shrink: 0;
}
.title3{
   display: flex;
   justify-content:space-between ;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 6vw;
}
.title4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pic1{
    position: relative;
    width: 53.5vw;   
     flex-shrink: 0;
}
.text1{
    width: 30vw;
}
.div1{
    position: absolute;  
    width: 53.5vw;
    border-radius: 30px; 
    height: 78vh;
    background-color: #9C6B3F;  
}
.div11{
    position: absolute;
    z-index: 2; 
    width: 46vw;
    top: 14vh;
    left: 6vw;
    border-radius: 30px;
}
.div1,.div11{
    max-width: 100%;
}
.pic2{
    position: relative;
    width: 500px;
}
.text2{
    width: 30vw;
}
.div2{
    position: absolute;
    width:23vw ;
    border-radius: 30px;
    height: 93vh;
    background-color: #9C6B3F;  
}
.div22{
    position: absolute;
    z-index: 2;
    width: 17vw;
    top:10vh;
    left: 4.5vw;
    border-radius: 30px;
}
.description{
    font-size: 20px;
    font-weight: 525;
}
.end{   
    border-radius: 50px  50px 0 0;  
    background-color: #9C6B3F;
    bottom: 0;
}
.icon2{
     width: 50px;
     margin: 20px;
}
.end p{
    font-size: 8vw;
    justify-self: center;
    color: #C9B29B;
}
.githubRepo{
    color: #C9B29B;
    text-decoration: none;
}
.about{
    width: 100%;
    justify-self: center;
}
.aboutRawasii{
    padding: 0 50px ;
    background-color: #9c6a3f46;
    border-radius: 30px;
    width: 70%;
    cursor: pointer;
    text-align: center;
}
.aboutRawasii:hover{
    background-color: #9c6a3f61;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    margin-left: 100px;  
}
@media (max-width: 1000px) {
   .text2{
    width: 100%;
} 
.div2{
    width:50vw ;
    height: 85vh;
}
.div22{
    width: 30vw;
    top: 9vh;
    left: 17vw;
}
.title4{
         min-height: 250vh;
   }
   body{
    height: 290vh;
   }
   .title6{
        min-height: 300vh;
    }
}
@media (max-width: 800px){
    .title2 div .img4{
       width: 80vw;
    }
    .images1{
         padding-right: 32vw;
    }
    .title2 div .img2,.title2 div .img3,.title2 div .img1{
       width: 30vw;
    }
    .img1{
       margin-top: 0px;
       margin-left: 0px;
   }
    .img2{
       margin-top: 6vw;
       margin-left: 20vw;
   }
    .img3{
       margin-left: 40vw;
   }
   .title2{
        min-height: 240vh;
   }
   body{
    height: 350vh;
   }
}
@media (max-width: 768px) {
    .images1{
      font: 100;
    }
    .p1{
        font-size: 7vw;
    }
    .aboutp1{
        font-size: 7vw;
        margin-top: 10%;
    }
    .p5,.p6{
    font-size: 10vw;
    margin: 0%;
    }
    .p2 , .p3 , .p4 {
        font-weight: 90;
    }
    .about{
        font-weight: 70;
    }
    .text1{
        height:0vw;
    } 
    .title5{
        min-height: 20vh;
    }
    .title6{
        min-height: 200vh;
    }
   .title4{
        min-height: 230vh;
    }
    .title3{
        min-height: 210vh;
    }
   .title2{
        min-height: 230vh;
   }
    .title2 div .img4{
       width: 80vw;
    }
    .images1{
         padding-right: 32vw;
    }
    .title2 div .img2,.title2 div .img3,.title2 div .img1{
       width: 30vw;
       border-radius: 30px;
    }
    .img1{
       margin-top: 0px;
       margin-left: 0px;
   }
    .img2{
       margin-top: 6vw;
       margin-left: 20vw;
   }
    .img3{
       margin-left: 40vw;
   }
   .text1,.text2{
    width: 100%;
   }
   .title3,.title4{
      margin-left: 0;
   }
   .description{
    font-size: 18px;
   }
   .pic2{
    justify-content: center;
     width:100%; 
   }
}
@media (max-width: 550px) {
    .div1{
    width: 90vw;
    margin: 0;
    height: 33vh;
    }
   .div11{
    width: 73vw;
    top: 8vh;
    left: 13vw; 
   }
   .pic1{
     justify-content: center;
     width:100%;  
   }
   .title3{
        min-height: 100vh;
   }
   .title4{
         min-height: 170vh;
   }
   .div2{
    width:65vw ;
    height: 60vh;
   }
   .div22{
    width: 44vw;
    top: 9vh;
    left: 17vw;
   }
   .title4{
         min-height: 200vh;
   }
   body{
    height: 290vh;
   }
}
@media (max-width: 450px){
     .title2{
        min-height: 120vh;
   }
} 
